header{ 
   background-image: url("assets/BGLOG.png");
   background-size: cover;
   justify-content: center;
align-items: center;
display: flex;
margin: 0;
padding: 0;
height: 500px; 
font-family: sans-serif; 
font-size: 17px;
font-weight: bold;
color: whitesmoke;

}

nav{
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   padding: 20px 8%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: bold;
}

nav ul li{
   list-style: none;
   display: inline-block;
   margin-left: 40px;
}

nav ul li a{
   text-decoration: none;
   color: #000000;
   font-size: 17px;
}

nav ul li a:hover{
   color: rgb(219, 130, 13)
}
 

menu{background:white; 
color: black;}
h1{color: black;}

/* .row{
       table border:1px solid darkred;  
       background: red;
       background-color: transparent;  
       color: darkred;

   } */
      .box {
         padding: 30px;
         background: black;
         border:1px solid darkred;
         margin: 10px 0px;
      } 
      .col{ 
         background: black;
         border:1px solid black;
      } 


    .inputBox input {
      background-color: black; 
      color: darkred;
    }   

.inputBox select {
  min-width: 10em;
  padding: 0.5em 1em;
  background: white;
  border: #444 solid;
  border-radius: 1em;
  color:dark; 
  background-color:dark;
   }



